* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

button {
    cursor: grab;
    transition: 0.2s ease-in;
}

button:hover {
    transform: scale(1.08);
    transition: 0.2s ease-in;
}

.box {
    min-height: 400px;
    width: 500px;
    padding: 30px;
    border: 3.5px solid purple;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 7px 14px 21px rgb(0, 0, 0);
    transition: 1s ease-in-out;
}

.inputBox {
    display: flex;
    gap: 50px;
    align-items: center;
}

input {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 7px;
    height: 30px;
    border-radius: 8px;
    transition: 0.2s ease-in;
}

input:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in;
}

.inputs button {
    height: 27px;
    width: 27px;
    border-radius: 50%;
}

.incomeEntry {
    background-color: rgba(30, 143, 255, 0.214);
}

.expenceEntry {
    background-color: rgba(255, 0, 0, 0.325);;
}

.buttonIncome {
    background-color: dodgerblue;
    color: white;
}

.buttonExpence {
    background-color: rgba(255, 0, 0, 0.89);
    color: white;
}

.output {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    gap: 10px;
    padding: 10px;
    font-size: 15px;
}

.income {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    font-weight: 700;
    color: dodgerblue;
}

.income button {
    margin: 10px;
    height: 24px;
    width: 20px;
    border-radius: 5px;
}

.expence {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    font-weight: 700;
    color: rgba(255, 0, 0, 0.89);
}

.expence button {
    margin: 10px;
    height: 24px;
    width: 20px;
    border-radius: 5px;
}

.netBalance {
    margin: 20px 0 ;
    padding: 10px;
    border: 2.5px solid rgba(0, 0, 0, 0.038);
    border-radius: 10px;
    box-shadow: 2px 7px 14px rgba(0, 0, 0, 0.745);
    transition: 0.2s ease-in-out;
}

.netBalance:hover {
    transform: scale(1.08);
    transition: 0.4s ease-in-out;
}